* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom right,#000000 50%,#42078f) no-repeat fixed;
    height: 100%;
}

p {
    font-size: 12px;
}

a {
    font-size: 16px;
    text-decoration: none;
}

ul {
    padding-top: 5px;
    padding-left: 20px;
}

li {
    font-size: 12px;
}

a:hover {
    filter: brightness(0.7);
}

.nav-wrapper {
    height: 100%;
}

.nav {
    height: 32px;
    background: linear-gradient(to bottom, #852ebe, #2e0d44 50%, #452458 50%, #2d103f);
    box-shadow: inset 0 0 0 0.5px #ffffff80, 0 0 16px #4f015f;
    outline: solid thin rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    color: rgb(255, 255, 255);
}

.nav-link {
    color: #ddd;
    font-size: 12px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1
}

.profile {
    padding: 30px;
    width: 350px;
}

.top-card {
    display: flex;
    align-items: center;
}

.pfp {
    height: 84px; padding-right: 10px;
}

.username {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.status {
    font-size: 14px;
    font-weight: normal;
}

.section {
    padding-top: 10px;
}

.section-header {
    padding: 5px 0;
    border-bottom: 1px solid #671b99;
    margin-bottom: 10px;
}

.section h2 {
    color: #703e91;
    font-size: 20px;
    font-weight: normal;
}

.link {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.link img {
    padding-right: 6px;
}

.pg-link {
    font-size: 12px;
}

#clock {
    font-weight: 600;
}

.cool-image {
    border: 1px solid #000000;
}

.cool-image-link:hover {
    filter: brightness(1);
}

.pg-margin-inc {
    margin-top: 5px;
}